@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

:root {
  --background: #1E1E1E;
  --color: #fff;
  --background2: #272727;
  --background3: #3b4773;
}

* {
	font-family: "Roboto", sans-serif;
	outline: none;
	outline-offset: 0;
}

body {
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;

}

.discord {
	background-color: var(--background);


	color: var(--color);
}

.discord-widget {
	width: 100%;
	margin: 0;
	background-color: transparent;
}

.discord-header {
	position: relative;
	/* height: 40px; */
	height: 10px;
	padding: 15px 10px;
	background-color: transparent;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.discord-body {
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	position: relative;
}

.discord-logo {
	margin: 10px 10px;
	background-image: url("../img/discord.png");
	background-size: 75%;
	width: 140px;
	height: 70px;
	background-repeat: no-repeat;
	transform-origin: left;
	filter: contrast(1.1);
	top: calc(50% - 0px);
}

.discord-list {
	position: relative;
	width: 100%;
	height: 65%;
	max-height: 210px;
	display: inline-block;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.discord-list::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.discord-list::-webkit-scrollbar-track {
	background-color: var(--background2);
	border-radius: 10px;
}

/* Handle */
.discord-list::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 4px;
}

/* Handle on hover */
.discord-list::-webkit-scrollbar-thumb:hover {
	background: var(--background3);
}

.discord-list-botshadow:hover+.discord-list,
.discord-list:hover {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.discord-list-botshadow {
	width: 80%;
	height: 65%;
	max-height: 250px;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
	box-shadow: inset 0px -24px 40px -11px rgba(30, 33, 36, 1),
		inset 0px -21px 40px -11px rgba(30, 33, 36, 1);
	pointer-events: none;
}

.discord-list-bot-shadow:after {
	content: " ";
	background-image: linear-gradient(to bottom, transparent 0%, #1d1f20 100%);
	bottom: 118px;
	display: block;
	height: 50px;
	left: 0;
	position: absolute;
	width: calc(100% - 13px);
	z-index: 1;
}

.discord-list-status,
.discord-list-label {
	display: inline-block;
	margin-bottom: 5px;
}

.discord-list-label:before {
	content: "Widget by no2no";
	font-size: 12px;
	font-weight: bold;
}

#members-count {
	font-size: 14px;
	font-weight: 800;
	display: inline-block;
	position: absolute;
	top: calc(50% + 10px);
	right: 10px;
}

.member-label {
	margin: 0px 10px 0px 0px;
	font-weight: normal;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

#members-list img {
	width: 15px;
	border-radius: 50%;
}

.member-avatar {
	padding-right: 5px;
}

#members-list td.member-name {
	font-size: 14px;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.discord table {
	table-layout: fixed;
}

/* Workaround, if page has colliding rules */
.discord-widget *>tr {
	background-color: transparent !important;
}

.discord-cta {
	border-bottom: 3px solid var(--background2);
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: var(--background2);
	padding: 12px 25px;
	color: #fff !important;
	border-radius: 4px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	width: 100%;
	max-height: 45px;
	margin-bottom: 10px;
	transition: 0.3s;
}

.discord-cta:hover {
	background-color: var(--background2);
	border-bottom: 3px solid #fff;
	transition: 0.3s;
	color: #fff !important;
}

.discord-cta:after {
	content: "Rejoindre le Discord";
}

.discord-cta-load {
	border-bottom: 3px solid var(--background2);
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: var(--background2);
	padding: 12px 25px;
	color: var(--color) !important;
	border-radius: 4px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	width: 100%;
	max-height: 45px;
	margin-bottom: 10px;
	transition: 0.3s;
}

.discord-cta-load:hover {
	background-color: var(--background2);
	border-bottom: 3px solid var(--color);
	transition: 0.3s;
	color: var(--color) !important;
}

.discord-cta-load:after {
	content: "En chargement...";
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0.3;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

@-moz-keyframes pulse {
	0% {
		opacity: 0.3;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

@-o-keyframes pulse {
	0% {
		opacity: 0.3;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

@keyframes pulse {
	0% {
		opacity: 0.3;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}
